.nextflow*
data/fastq
data/nextflow_outputdir
data/nextflow_wd
~$*.xlsx
.Rproj.user
*.sh.e*
*.sh.o*
omnipathr-log/
.Rhistory

/.quarto/

analysis/_site
analysis/*_cache
analysis/*_files
data/geo_submission/CFL069-2019-06-24_R1_001.fastq.gz
